

*{
     margin: 0;
     font-family: 'Vazirmatn';

}
::-webkit-scrollbar {
     width: 0px;  /* یا height: 0px برای اسکرول افقی */
     background: transparent;
   }
   ::-webkit-scrollbar-thumb {
     background: transparent;
   }
   


   
body, html {
     background-color: #d1d6d2;
     overflow: hidden;
     max-height: 100vh;
     font-family: 'Vazirmatn', sans-serif;
     line-height: 1.6; 
     -webkit-font-smoothing: antialiased; 
     -moz-osx-font-smoothing: grayscale;
     font-feature-settings: 'lnum' 0, 'tnum' 0; /* غیرفعال کردن اعداد لاتین */
     unicode-bidi: embed;
   }
   button, input, textarea {
     font-family: 'Vazirmatn', sans-serif;
   }
   
   [dir="rtl"] button, 
   [dir="rtl"] input, 
   [dir="rtl"] textarea {
     font-feature-settings: "pnum";
   }
   
   [dir="ltr"] button, 
   [dir="ltr"] input, 
   [dir="ltr"] textarea {
     font-feature-settings: "lnum";
   }

@media (max-width:900px) {
     .App{
          margin-top: 10px;
     }
}



.MuiPaper-root{
      border-radius: 10px !important;
      position: relative !important;
}
.MuiToolbar-root{
     min-height: auto !important;
}
.rounded-btn{
     border-radius: 25px !important;
}